<table mat-table [dataSource]="vagas">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.id}} </td>
    </ng-container>
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.descricao}} </td>
    </ng-container>
    <ng-container matColumnDef="req_obj">
        <th mat-header-cell *matHeaderCellDef> Requisitos obrigatórios </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.req_obj} </td>
    </ng-container>
    <ng-container matColumnDef="req_desej">
        <th mat-header-cell *matHeaderCellDef> Requisitos desejáveis </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.req_desej} </td>
    </ng-container>
    <ng-container matColumnDef="remuneracao">
        <th mat-header-cell *matHeaderCellDef> Remuneração </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.remuneracao}} </td>
    </ng-container>
    <ng-container matColumnDef="aberta">
        <th mat-header-cell *matHeaderCellDef> Aberta? </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.aberta}} </td>
    </ng-container>
    <ng-container matColumnDef="beneficios">
        <th mat-header-cell *matHeaderCellDef> Beneficios </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.beneficios}} </td>
    </ng-container>
    <ng-container matColumnDef="local_trabalho">
        <th mat-header-cell *matHeaderCellDef> Local de Trabalho </th>
        <td mat-cell *matCellDef="let vagas"> {{vagas.local_trabalho} </td>
    </ng-container>
      
</table>
  